<h1 align="center" mat-dialog-title>
  {{data.make}}
  <small>{{data.model}}</small>
</h1>
<div mat-dialog-content>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip selected="true" [color]="warn">
      VIN: {{data.vin}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      Make: {{data.make}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      Model: {{data.model}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      Year: {{data.year}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      REDLINE - RPM: {{data.redlineRpm}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      Max Fuel Volume: {{data.maxFuelVolume}}
    </mat-chip>
    <mat-chip selected="true" [color]="warn">
      Last Service Date: {{data.lastServiceDate.toLocaleString()}}
    </mat-chip>
  </mat-chip-list>
</div>

<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">OK</button>
</div>
