<mat-grid-list cols="3" rowHeight="1.75:1">
  <mat-grid-tile *ngFor="let carAlert of carAlerts">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{carAlert.car.make}}</mat-card-title>
        <mat-card-subtitle>{{carAlert.car.model}}</mat-card-subtitle>
      </mat-card-header>
      <!--<img mat-card-image src="../../assets/car.png" alt="{{car.make}} {{car.model}}">-->
      <mat-card-content>
        <div align="center">
          <span class="badge badge-danger">High Alerts: {{carAlert['highAlerts'].length}}</span>
          <span class="badge badge-warning">Medium Alerts: {{carAlert.mediumAlerts.length}}</span>
          <span class="badge badge-info">Low Alerts: {{carAlert.lowAlerts.length}}</span>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <div align="center">
          <button mat-button color="primary" (click)="openCar(carAlert.car)">Details</button>
          <button mat-button color="warn">Alerts</button>
        </div>

      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




